.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 2px 0px; }

.card-hotel button {
  width: 100%;
  border-radius: 0px;
  font-size: 18px; }

.footer-address-icon {
  padding-right: 10px; }

.card-hotel a {
  margin: 1% 2%;
  font-size: 12px;
  display: flex;
  text-align: end;
  justify-content: flex-end; }

.img-fluid {
  height: 500px;
  width: 100%; }

.agradecimiento,
.agradecimiento:hover {
  color: white;
  font-size: 20px; }

#myTabContent {
  padding-top: 10px; }

.card-hotel div:nth-child(4) {
  display: flex; }
