// Las variables en SASS se definen con el signo $
// Se debe ejecutar la tarea (npm run scss) para compilar el css dado a que el browser no sabe como interpretar las variables, esto crea un archivo css
$yellow: #fffa19;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
  background-color: $yellow;
  color: black;
  @include margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: $yellow;
  @include margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 0px);
  padding: 2px 0px;
}

.card-hotel button {
  width: 100%;
  border-radius: 0px;
  font-size: 18px;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-hotel a {
  margin: 1% 2%;
  font-size: 12px;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}

.img-fluid {
  height: 500px;
  width: 100%;
}

.agradecimiento,
.agradecimiento:hover {
  color: white;
  font-size: 20px;
}

#myTabContent {
  padding-top: 10px;
}

.card-hotel div:nth-child(4) {
  display: flex;
}
