// Las variables en LESS se definen con el signo @
// Se debe ejecutar la tarea (lessc css/styles2.less css/styles2.css) para compilar el css dado a que el browser no sabe como interpretar las variables, esto crea un archivo css

@yellow: #fffa19;

.margenes(@top, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes(50px);
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow;
  .margenes(10px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px);
  padding: 2px 0px;
}

.card-hotel button {
  width: 100%;
  border-radius: 0px;
  font-size: 18px;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-hotel a {
  margin: 1% 2%;
  font-size: 12px;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}

.img-fluid {
  height: 500px;
  width: 100%;
}

.agradecimiento,
.agradecimiento:hover {
  color: white;
  font-size: 20px;
}

#myTabContent {
  padding-top: 10px;
}

.card-hotel div:nth-child(4) {
  display: flex;
}
